    * {
        padding: 0;
        margin: 0;
        border: 0;
}

/* Topo da página com botões para navegação */
.area{
    background-color: #3498DB;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.btn-face img{
    width: 17px;
    padding-right: 7px;
}

.btn-twitter img{
    width: 17px;
    padding-right: 7px;
}

.menu {
    display: flex;
    align-items: center;
    padding-left:6%;
    margin-bottom: 9px;
}

.leaf {
    display: flex;
    align-items: center;
}

.leaf img {
    display: block;
}

.leaf span {
    color: white;
    font-size: 16px;
    font-family: Helvetica;
    margin-left: 16px;
    margin-top: 19px;

}

.btn-face p {
    text-decoration: none;
    padding-right: 3px;
    color: #3b5999;
    margin-top: 18%;
}

.btn-twitter p{
    text-decoration: none;
    padding-right: 3px;
    color: #3498DB;
}

.btn-face {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(184,175,184,1);
    font-size: 10px;
    padding: 6px 11px;
    font-family: Helvetica;
    height: 40%;
    margin-right: 30px;
}

.btn-twitter {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(184,175,184,1);
    font-size: 10px;
    padding: 6px 11px;
    font-family: Helvetica;
    height: 40%;
}

.topo {
    display: flex;
    align-items: center;
    margin-right: 68px;
    margin-bottom: 25px;
}

/* Corpo do projeto. Imagem central, exemplo de carrosel sem JS */

.image-main {
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 71px auto 0;
}

.image-main img {
    width: 100%;
    height: 80%;
}

.btn-left img {
    margin-left: 1%;
    margin-top: 9px;
    position: absolute;
}

.btn-right img {
    margin-left: 17px;
    margin-top: 11px;
    position: absolute;
}

.btn-right {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(184,175,184,1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 100%;
 }

.btn-left {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(184,175,184,1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    margin-right: 96%;
 }

 .container {
     position: relative;
 }

 .leg-blue {
    position: absolute;
    color: white;
    background-color: #3498DB;
    margin: auto;
    bottom: 0;
    left: 0;
    padding: 6px 22px;
    font-weight: bold;
    margin-bottom: 11%;
    margin-left: 5%;
 }

 .container h1 {
    position: absolute;
    color: white;
    margin: auto;
    bottom: 0;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 3%;
    margin-left: -35%;
 }

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    width: 66px;
    height: 66px;
}

li {
    width: 100%;
    height: 25px;
}

.button_click {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #0000006e;
    border: none;
    outline: 0;
    cursor: pointer;
}

.button_click1 {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #3498DB;
    border: none;
    outline: 0;
    cursor: pointer;
}

.tree_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    width: 66px;
    height: 66px;
}

li {
    width: 100%;
    height: 25px;
}

.row-one{
    padding: 3%;
    margin-bottom: 4%;
}

.row-one h1{
    padding: 1%;     

}

#leg-one {
    position: absolute;
    color: white;
    background-color: #E74C3C;
    margin: auto;
    bottom: 0;
    left: 0;
    padding: 6px 22px;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 4%;
 }

 .row-two{

     padding: 3%;
 }

 .row-two h5{
    margin-top: 2%;
    margin-right: 20%; 
    color: #3498DB;

}
/* Footer  */
.back{
    background-color: dodgerblue;
    margin-top: 70%;
    width: 100%;
    height: 50%;
}

.back h6{
    
    margin-left: 75%;
    font-size: 180%;
    
   
}

.writing{
    background-color: #2C3E50;
    justify-content: space-between;
    display: flex;  
    width: 100%;
    height: 550%;  
}

.writing p{
    color: white;
    align-items: center;
    margin-top: 10px;
    margin-left: 10%;
}

.writing img{
    margin-left:15%;
}